.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-gap: 20px;
  padding: 50px;
  width: 97%;
  padding-top: 120px;
}
