.container {
  height: 100%;
}

.row {
  margin-top: 200px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  position: absolute;
  width: 100%;
}

.box {
  background-color: white;
  height: 200px;
  color: red;
  font-size: 66px;
}
