* {
  box-sizing: border-box;
  font-family: "PT Sans";
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
  font-family: "Work Sans", sans-serif;
  background-color: #f5f6ff;
  height: 100%;
  overflow-x: hidden;
}

a {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: black;
}

a:active {
  color: purple;
}
