.bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}

.show {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 8;

  display: flex;
  align-items: center;
}

.img {
  height: 345px;
}

.textbox {
  padding: 0 16px 0 32px;
  width: 300px;
  height: 345px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.title:hover {
  transform: scale(1.03);
}

.title a {
  color: white;
  text-decoration: none;
}

.textbox ul {
  padding: 0 0 0 20px;
  color: white;
  font-size: 18px;
}

.textbox p {
  color: whitesmoke;
  font-weight: 300;
  font-size: 14px;
}
